[submodule "src/github.com/astaxie/beego"]
	path = src/github.com/astaxie/beego
	url = https://github.com/astaxie/beego
[submodule "src/github.com/beego/bee"]
	path = src/github.com/beego/bee
	url = https://github.com/beego/bee
[submodule "src/github.com/go-sql-driver/mysql"]
	path = src/github.com/go-sql-driver/mysql
	url = https://github.com/go-sql-driver/mysql
[submodule "src/github.com/sluu99/uuid"]
	path = src/github.com/sluu99/uuid
	url = https://github.com/sluu99/uuid
